.profile__vector {
  border: 1px solid #FFFFFF;
  padding: 7px 7px 7px 7px;
  color: inherit;
  background: transparent center no-repeat url(../../../images/Vector.svg);
  margin-top: 15px;
  text-decoration: none;
}

.profile__vector:hover {
  opacity: 0.5;
  cursor: pointer;
}
