.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.profile__avatar::before {
  background-color: #000;
  content: '';
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: .4s ease-in-out;
  opacity: 0;
}

.profile__avatar:hover::before {
  opacity: .8;
  background-color: #000;
  background-image: url('../../../images/avatar_remove.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin-left: 82px;
  }
}
