.profile__vector-two {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background: transparent center no-repeat url(../../../images/plus.svg);
  padding: 14px 64px 14px 64px;
  width: 150px;
  height: 50px;
  color: inherit;
}

.profile__vector-two:hover {
  opacity: 0.5;
  cursor: pointer;
}
